<div id="<%= dom_id claim_request %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= claim_request.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Claim request type:</strong>
    <%= claim_request.claim_request_type_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= claim_request.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= claim_request.amount %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this claim request", claim_request, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this claim request", edit_claim_request_path(claim_request), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
