<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>


  
<%= form_for([namespace, page.resource], html: { class: "form space-y-6" }) do |f| %>

  <% if page.resource.errors.any? %>
     <div id="error_explanation" class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 rounded-lg pl-6">
      <!--<h2 class="font-semibold text-lg">
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name, singular: true)
        ) %>
      </h2> -->

      <ul class="mt-2 list-disc list-inside pl-6">
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
      <p class="mt-4 pl-6 font-semibold">Please try again.</p>
    </div>
  <% end %>

  <% page.attributes(controller.action_name).each do |title, attributes| -%>
    <fieldset class="<%= title.present? ? 'field-unit--nested' : '' %>">
      <% if title.present? %>
        <legend class="text-lg font-medium mb-4"><%= t "helpers.label.#{f.object_name}.#{title}", default: title %></legend>
      <% end %>

      <% attributes.each do |attribute| %>
        <div class="field-unit field-unit--<%= attribute.html_class %> field-unit--<%= requireness(attribute) %> mb-4">
          <%= render_field attribute, f: f, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-primary focus:ring focus:ring-primary focus:ring-opacity-50" %>

          <% hint_key = "administrate.field_hints.#{page.resource_name}.#{attribute.name}" %>
          <% if I18n.exists?(hint_key) -%>
            <div class="field-unit__hint text-sm text-gray-500 mt-1">
              <%= I18n.t(hint_key) %>
            </div>
          <% end -%>
        </div>
      <% end %>
    </fieldset>
  <% end -%>

  <div class="mt-6">
    <%= f.submit class: "form-actions flex w-full justify-center rounded bg-primary p-3 text-white font-medium hover:bg-primary-dark transition-all duration-200 ease-in-out", data: { disable_with: false } %>
  </div>
<% end %>






